* {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  box-sizing: border-box;
}

.header {
  min-height: 100vh;
  width: 100%;

  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  padding: 0% 6%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  box-sizing: border-box;
  z-index: 5;
  width: 100%;
  transition: 0.8s;
}
nav.navy {
  background-color: #000080;
  padding: 0%, 4%;
}

nav img {
  width: 80px;
  transition: 0.8s;
}
nav .fas {
  display: none;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: #fbfaf5;
  text-decoration: none;
  font-size: 18px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #ffbe61;
  display: block;
  margin: auto;
  transition: 0.8s;
}
.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  width: 90%;
  color: #fbfaf5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 65px;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 16px;
  color: #fbfaf5;
}
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fbfaf5;
  border: 1px solid #fbfaf5;
  padding: 15px 40px;
  font-size: 16px;
  background: transparent;
  position: relative;
  cursor: pointer;
}
.hero-btn:hover {
  background: #ffbe61;
  transition: 1.2s;
  color: #0e1111;
}

/*Konten*/
.konten {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 75px;
  background: #fbfaf5;
  transition: 2s;
}

.row1 {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.row2 {
  display: flex;
  justify-content: space-between;
}

.konten-col {
  flex-basis: 31%;
  background: #93caed;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
  transition: 0.5s;
}
h1 {
  font-size: 50px;
  font-weight: 600;
}
h3 {
  text-align: center;
  margin: 10px 0;
  font-size: 30px;
  font-weight: 600;
}
.konten-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 2);
}
.konten p {
  font-size: 24px;
}
.konten-col p {
  color: #0e1111;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  padding: 10px;
}

/* Layanan */
.layanan {
  padding-top: 75px;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
}
.layanan h1 {
  color: #fbfaf5;
}
.layanan p {
  margin-top: 5%;
  color: #fbfaf5;
  margin: 40px;
  font-size: 23px;
  font-weight: 500;
}
/* Tentang Kami */

.tentangkami {
  padding-top: 270px;
  background-color: #acd1af;
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
.row {
  display: flex;
}
.column {
  width: 30%;
  margin-bottom: 16px;
  padding: 0 8px;
  flex-basis: 31%;
  box-sizing: border-box;
  margin-left: 20px;
  border-radius: 2px;
}
h2 {
  font-size: 36px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  border-radius: 6px;
  background-color: #fbfaf5;
  transition: 0.5s;
}
.card:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 6);
}
.card img {
  border-radius: 4px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #ffbe61;
  color: #0e1111;
}
.about-section p {
  font-size: 18px;
}

.container {
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
.rowMap {
  width: 100%;
  display: flex;
  border: 1px red;
}
.kolom {
  padding: 3%;
  float: left;
  border: 1px solid #93caed;
  width: 50%;
}

/* Slideshow/
/* Slideshow container */
.slideshow-container {
  max-width: 800px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: #b95d8d;
}

/* Caption text */
.text {
  color: #acd1af;
  font-size: 20px;
  padding: 8px 0px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  font-weight: 600;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #b95d8d;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
/*button up*/

#button-up {
  display: inline-block;
  background-color: #b95d8d;
  width: 50px;
  height: 50px;
  line-height: 60px;
  text-align: center;
  border-radius: 16px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.5s;
  opacity: 0.5s, visibility 0.5s;
  opacity: 0;
  z-index: 1000;
  transition: 0.8s;
}
#button-up i {
  font-size: 32px;
  color: #fbfaf5;
}

#button-up:hover {
  cursor: pointer;
  background-color: #acd1af;
}
#button-up.show {
  opacity: 1;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/**Footer */
.btn {
  padding: 0.5rem 1rem;
  background: #000080;
  color: #fbfaf5;
  border: 1px solid #fbfaf5;
  border-radius: 0.25rem;
}
.footer {
  background: #000080;
  color: #fbfaf5;
  height: 300px;
  position: relative;
}

.footer .footer-content {
  border: 5px solid #0e1111;
  height: 250px;
  display: flex;
}
.footer .footer-content h1,
.footer .footer-content h2 {
  color: #fbfaf5;
}
.footer .footer-content .address h1 span {
  color: #160e7f;
}
.footer .footer-content .address p {
  font-size: 20px;
}
.footer .footer-content .address .contact span {
  display: block;
  font-size: 1.1em;
  margin-bottom: 8px;
}
.footer .footer-content .address .socials a {
  border: 1px solid #fbfaf5;
  width: 45px;
  height: 41px;
  padding-top: 5px;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  margin-right: 5px;
  font-size: 1.3em;
}
.footer .footer-content .address .socials a:hover {
  border: 2px solid #e0e0e0;
  transition: all 1s;
  color: #fbfaf5;
}
.footer .footer-content .footer-section {
  padding: 40px;
}
.footer .footer-bottom {
  background: black;
  color: #fbfaf5;
  position: absolute;
  height: 50px;
  width: 100%;
  text-align: center;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}
.footer .footer-content .contact-form {
  padding-top: 2%;
}
.footer .footer-content .contact-form .contact-input {
  background: #fbfaf5;
  color: #0e1111;
  margin-bottom: 10px;
  line-height: 1.5rem;
  padding: 0.7rem 1.2rem;

  font-size: 14px;
  border: none;
  width: 60%;
  position: relative;
  margin-right: 20px;
  margin-left: 145px;
}
.footer .footer-content .contact-form h2 {
  margin-left: 40%;
  margin-right: 25%;
}
.footer .footer-content .contact-form button {
  margin-left: 42%;
}
.footer .footer-content .contact-form button:hover {
  background: #0e1111;
  border: 2px solid #93caed;
  transition: 1.5s;
  cursor: pointer;
}
/* Akhir Footer*/

@media (max-width: 750px) {
  html,
  body {
    overflow-x: hidden;
  }
  .text-box h1 {
    font-size: 35px;
  }

  .nav-links ul li {
    display: block;
    font-size: 32px;
  }
  .nav-links {
    background: #93caed;
    position: absolute;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 5;
    transition: 1.2s;
  }
  nav .fas {
    display: block;
    color: #fbfaf5;
    margin: 10px;
    cursor: pointer;
    font-size: 30px;
  }
  .nav-links ul {
    padding: 25px;
  }
  .row1 {
    flex-direction: column;
  }
  .row2 {
    flex-direction: column;
  }
  .row {
    flex-direction: column;
    margin-right: 20px;
  }
  .rowMap {
    flex-direction: column;
    padding: 0;
  }
  .kolom {
    padding-bottom: 3%;
    width: 100%;
  }
  .column {
    width: 100%;
    display: block;
  }
  .layanan p {
    font-size: 18px;
  }
}
